.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-header {
  background-color: #00000f;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 4rem;
}

.mainSec {
  color: white;
}

.gameArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.numSelect {
  width: 5rem;
  height: 3rem;
  font-size: 1.5rem;
}

.numEnter {
  width: 6.5rem;
  height: 2.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #00000f;
  color: white;
  border: none;
}
